
<br>
<br>
<div class="carouselContainer"  >
<p-carousel [value]="tasks" [numVisible]="1" headerText="Tasks: " [circular]="true"  >
  <ng-template let-task pTemplate="task"  >
    <a class="taskName" >{{task.taskName}}</a>
    <br>
    <br>
    <a class="taskDescription">{{task.description}}</a>
    <br>
    <br>
    <button class="buttons" (click)="onSelect(tasks.indexOf(task))">Get answer</button>
  </ng-template>
</p-carousel>
</div>
<app-task-detail [task]="selectedTask"></app-task-detail>








