<h2>{{task.taskName}} Details</h2>
<div><span>Type: </span>{{task.taskType}}</div>
<div><span>Associated file: </span>{{task.associatedFile}}</div>
<div><span>Description: </span>{{task.description}}</div>

<br>
<br>
<div>
  <label> task name:
    <input [(ngModel)]="task.taskName" placeholder="task name">
  </label>
</div>
<br>
<br>
<div style="height: 400px; width: 400px; margin: auto" >
<p-carousel [value]="tasks" [numVisible]="1" headerText="Tasks: " [circular]="true"  >
  <ng-template let-item pTemplate="item"  >
    {{item.taskName}}
    <br>
    <br>
    {{item.description}}
  </ng-template>
</p-carousel>
</div>






